*{
    padding: 0;
    margin: 0;
    font-family: "Poiret One", sans-serif;
    font-weight: 900;
    font-style: normal;
    
}


body{
    background-image: url(imagen/EL3916__31717.1432050040.1280.1280.jpg)
}

header{
    padding: 50px;
    background-color: rgba(179, 171, 150, 0.445);
    border-bottom: 2px  solid black
    
}

header{
    text-align: center;
    
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
    margin-right: 80px;
    text-align: center;
}

main{
    margin-top: 30px;
}

.Proyectos{
    padding: 40px;
    text-align: center;
    margin: 20px;
    border-bottom: 2px solid gray;
}

.About{
    padding: 60px;
    margin: 20px;
    text-align: center;
    border-bottom: 2px solid gray;
}


.casas{
    border: 2px solid gray;
    margin: 10px;
    text-align: center;
    border-radius: 15px;
}

.casas ul li{
    list-style: none;
}

.casas img{
    width: 950px;
    display: inline-block;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 25px;
}

.Galeria-renders{
    padding: 50px;
    margin: auto;
    text-align: center;
    border: 2px solid gray;
    background-color: rgba(179, 171, 150, 0.445);
}

.galeria img{
    width: 950px;
    margin: 20px;
    border: 2px solid gray;
    border-radius: 25px;
}

.galeria{
    text-align: center;
    border-bottom: 2px solid gray;

}

.Habilidades{
    padding: 20px;
    margin: auto;
    text-align: center;
    border-bottom: 2px solid gray;
}

footer{
    padding: 20px;
    margin: 50px;
    text-align: center;
}